<h1>Mocktails!</h1>

<%= link_to 'Create new cocktail', new_cocktail_path, class: 'btn btn-primary ' %>

<% @cocktails.each do |cktl| %>
  <div>
    <h3><%= cktl.name %></h3>
    <ul>
      <% cktl.doses.each do |dose| %>
        <li><%= dose.ingredient.name %> (<%= dose.amount %>)</li>
      <% end %>
    </ul>
    <%= link_to 'Add ingredient (dose)', new_cocktail_dose_path(cktl) %>
  </div>
<% end %>
